@keyframes rock {
  30% {
      transform: rotate(10deg);
  }

  50% {
      transform: rotate(0deg);
  }

  70% {
      transform: rotate(-10deg);
  }
}

@include keyframes(upAndDown) {
  50% {
    @include transform(translateY(-4px));
    box-shadow: 0 8px 6px -6px #ddd;
  }
  to {
    @include transform(translateY(0px));
  }
}
