.board {
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;

  h1 {
    padding: 20px 0;
    font-family: 'Luckiest Guy', cursive;
  }

  .potatoBoard {
    border: #ddd solid 10px;
    border-radius: 50%;
    padding: 30px 0;
    width: 390px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: #FFF;

      .bodyFeatures {
        img {
          position: absolute;
        }

        .nose {
          bottom: 50px;
          right: 129px;
          width: 105px;
        }

        .eyes {
          left: 118px;
          bottom: 100px;
          width: 140px;
        }
      }
      .board {
        width: 400px;
        transform: rotate(100deg);
        position: relative;
        z-index: -1;
        bottom: -70px;
        left: -14px;
      }
  }
}
