.board {
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;

  h1 {
    padding: 20px 0;
    font-family: 'Luckiest Guy', cursive;
  }

  #game-instructions {
    z-index: 4;
    width: 50%;
    margin: 0 auto;
    border: 3px solid $blue;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;

    #close {
      float: right;
      width: 5%;
      color: $red;
      border: 2px solid $red;
      border-radius: 50%;
      padding: 3px;
      margin: 3px;
      font-size: 20px;
      transition:  .7s ease-out;
      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  .potatoBoard {
    border: #ddd solid 10px;
    border-radius: 50%;
    padding: 30px 0;
    width: 390px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: #FFF;

      .bodyFeatures {
        img {
          position: absolute;
        }

        .nose {
          bottom: 50px;
          right: 129px;
          width: 105px;
        }

        .eyes {
          left: 118px;
          bottom: 100px;
          width: 140px;
        }
      }
      .board {
        width: 400px;
        transform: rotate(100deg);
        position: relative;
        z-index: -1;
        bottom: -70px;
        left: -14px;
      }
  }
}
