.container {
  margin: 0 auto;
  background: url('/assets/pattern.png');
  height: 100%;
  font-family: 'Lato', sans-serif;
  overflow: auto;
  box-sizing: border-box;

  header {
    padding: 10px 30px;
    background: #204471;
    overflow: hidden;
  }
}
