nav {
  .totalPoints {
    float: left;
    width: 167px;

    .total {
      float: left;
      font-size: 18px;
      padding-top: 15px;
      color: #fff;
    }

    span {
      float: right;
      background: #ddd;
      width: 53px;
      height: 53px;
      border-radius: 50%;
      padding-top: 17px;
      padding-left: 8px;
    }
  }

  .logo {

    img {
      width: 80px;
      display: block;
      padding-top: 3px;
      margin: 0 auto;
    }
  }

  .profile {
    width: 150px;
    float: right;

    &:hover {
      .leaderpage {
        display: block;
        //transition: display 1s ease 2s;
      }

      .name {
        padding-top: 2px;
        transition: all .5s ease;
      }

      .picture {
        margin-left: -10px;
        transition: all .5s ease;
      }
    }

    .name {
      transition: .5s ease-out;
    }

    .picture {
      transition: .5s ease-out;
    }

    .picture {
      width: 53px;
      float: left;
      background: darkgray;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 50px;
        position: relative;
        left: 2px;
        top: 5px;
      }
    }

    .name {
      float: right;
      padding-top: 15px;
      font-size: 18px;
      color: #fff;
    }

    .leaderpage {
      display: none;
      position: relative;
      bottom: -15px;
      right: -7px;
      padding-top: 5px;
      color: #fff;
      cursor: pointer;
      width: 150px;
    }
  }
}
