.props-container {
  padding: 10px 20px;
  overflow: hidden;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;

  .prop {
    float: left;
    width: 16%;
    text-align: center;

    &:hover {
      img {
        animation: rock 1s ease;
      }
    }

    img {
      width: 90px;
    }
  }
}
