.props-container {
  padding: 10px 20px;
  overflow: hidden;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  @include media(desktop) {
    position: inherit;
  };

  .prop {
    float: left;
    width: 16%;
    text-align: center;
    @include media(tablet) {
      width: 33%;
      padding-bottom: 15px;
    };

    &:hover {
      img {
        animation: rock 1s ease;
      }
    }

    img {
      width: 90px;
      @include animation(upAndDown 2.0s infinite);

      &:hover {
        bottom: 4px;
      }
    }
  }
}
