#container {
  background-image: url('/images/wavegrid_@2x.png');
  width: 100%;
  height: 100%;
}


#potato-container {
  background-image: url("/images/potato.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 400px;
  width: 30%;
  border: 1px solid black;
}

#one, #two, #three, #four {
  width: 100%;
  height: 15%;
  border: 1px solid red;
}

#features {
  display: flex;

}

#hat, #glasses, #stash, #bowtie {

}

.fedora, .horn-glasses, .stash, .big-glasses {
  height: 80px;
  width: 80px;
}
