!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %meta(content='width=device-width, initial-scale=1' name='viewport')
    %title Mr. Potato Who?
    %link(rel='stylesheet' href='/app/assets/stylesheets/application.css')
  %body
  #container
    #potato-container
      #one
      #two
      #three
      #four
    #features
      .items
        %img(src="/images/hat.svg" class="fedora")
      .items
        %img(src="/images/glasses-for-eyes.svg" class="horn-glasses")
      .items
        %img(src="/images/mustache.svg" class="stash")
      .items
        %img(src="/images/shape.svg" class="big-glasses")





  %script(src='/app/assets/javascripts/vendor.min.js')
  %script(src='/app/assets/javascripts/dev.js')
  %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
