<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Mr. Potato Who?</title>
    <link href='/lib/styles/main.min.css' rel='stylesheet'>
  </head>
  <body></body>
  <div id='container'>
    <div id='potato-container'>
      <div id='one'></div>
      <div id='two'></div>
      <div id='three'></div>
      <div id='four'></div>
    </div>
    <div id='features'>
      <div id='hat'>
        <img id='fedora' src='/images/hat.svg'>
      </div>
      <div id='glasses'>
        <img id='horn-glasses' src='/images/glasses-for-eyes.svg'>
      </div>
      <div id='stash'>
        <img id='stash' src='/images/mustache.svg'>
      </div>
      <div id='bowtie'>
        <img id='big-glasses' src='/images/shape.svg'>
      </div>
    </div>
  </div>
  <script src='/lib/js/vendor.min.js'></script>
  <script src='/lib/js/app.js'></script>
</html>
