!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %meta(content='width=device-width, initial-scale=1' name='viewport')
    %title Mr. Potato Who?
    %link(rel='stylesheet' href='lib/styles/main.min.css')
  %body
  #container
    #potato-container
      #one
      #two
      #three
      #four
    #features
      #hat
        %img(src="images/hat.svg")
      #glasses
        %img(src="images/glasses-for-eyes.svg")
      #stash
        %img(src="images/mustache.svg")
      #bowtie
        %img(src="images/shape.svg")





  %script(src='lib/js/vendor.min.js')
  %script(src='lib/js/app.js')
