!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %meta(content="width=device-width, initial-scale=1" name="viewport")
    %title Vikings in Haml
    %link(rel='stylsheet' href='lib/styles/main.min.css')
  %body
