<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Mr. Potato Who?</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Luckiest+Guy' rel='stylesheet'>
    <link href='/app/assets/stylesheets/application.css' rel='stylesheet'>
  </head>
  <body>
    <div class='container'>
      <header>
        <nav>
          <div class='totalPoints'>
            <div class='total'>Total Points:</div>
            <span>1200</span>
            <div class='points'></div>
          </div>
          <div class='profile'>
            <div class='picture'>
              <img alt='John' src='/app/assets/images/person.svg'>
            </div>
            <div class='name'>Hey, John</div>
            <div class='leaderpage'>Leader Board?</div>
          </div>
          <div class='logo'>
            <img alt='logo' src='/app/assets/images/logo.svg'>
          </div>
        </nav>
      </header>
      <aside class='potatoPeople'>
        <div class='potato-people-container'>
          <div class='person-container'>
            <h3>Baked Ben</h3>
            <div class='props'>
              <img alt='Baked Ben' src='/app/assets/images/hat.svg'>
              <img alt='Baked Ben' src='/app/assets/images/mustache.svg'>
              <img alt='Baked Ben' src='/app/assets/images/glasses.svg'>
              <img alt='Baked Ben' src='/app/assets/images/bow-tie.svg'>
            </div>
          </div>
          <div class='person-container'>
            <h3>Tator Tom</h3>
            <div class='props'>
              <img alt='Tator Tom' src='/app/assets/images/hat.svg'>
              <img alt='Tator Tom' src='/app/assets/images/mustache.svg'>
              <img alt='Tator Tom' src='/app/assets/images/glasses.svg'>
              <img alt='Tator Tom' src='/app/assets/images/bow-tie.svg'>
            </div>
          </div>
          <div class='person-container'>
            <h3>Brotato</h3>
            <div class='props'>
              <img alt='Brotato' src='/app/assets/images/hat.svg'>
              <img alt='Brotato' src='/app/assets/images/mustache.svg'>
              <img alt='Brotato' src='/app/assets/images/glasses.svg'>
              <img alt='Brotato' src='/app/assets/images/bow-tie.svg'>
            </div>
          </div>
          <div class='person-container'>
            <h3>Mike Mash</h3>
            <div class='props'>
              <img alt='Mike Mash' src='/app/assets/images/hat.svg'>
              <img alt='Mike Mash' src='/app/assets/images/mustache.svg'>
              <img alt='Mike Mash' src='/app/assets/images/glasses.svg'>
              <img alt='Mike Mash' src='/app/assets/images/bow-tie.svg'>
            </div>
          </div>
          <div class='person-container'>
            <h3>Nancy Yam</h3>
            <div class='props'>
              <img alt='Nancy Yam' src='/app/assets/images/hat.svg'>
              <img alt='Nancy Yam' src='/app/assets/images/mustache.svg'>
              <img alt='Nancy Yam' src='/app/assets/images/glasses.svg'>
              <img alt='Nancy Yam' src='/app/assets/images/bow-tie.svg'>
            </div>
          </div>
          <div class='person-container'>
            <h3>Darth Tator</h3>
            <div class='props'>
              <img alt='Darth Tator' src='/app/assets/images/hat.svg'>
              <img alt='Darth Tator' src='/app/assets/images/mustache.svg'>
              <img alt='Darth Tator' src='/app/assets/images/glasses.svg'>
              <img alt='Darth Tator' src='/app/assets/images/bow-tie.svg'>
            </div>
          </div>
          <div class='person-container'>
            <h3>Ted Tubor</h3>
            <div class='props'>
              <img alt='Ted Tubor' src='/app/assets/images/hat.svg'>
              <img alt='Ted Tubor' src='/app/assets/images/mustache.svg'>
              <img alt='Ted Tubor' src='/app/assets/images/glasses.svg'>
              <img alt='Ted Tubor' src='/app/assets/images/bow-tie.svg'>
            </div>
          </div>
          <div class='person-container'>
            <h3>Spud Lighter</h3>
            <div class='props'>
              <img alt='Spud Lighter' src='/app/assets/images/hat.svg'>
              <img alt='Spud Lighter' src='/app/assets/images/mustache.svg'>
              <img alt='Spud Lighter' src='/app/assets/images/glasses.svg'>
              <img alt='Spud Lighter' src='/app/assets/images/bow-tie.svg'>
            </div>
          </div>
          <div class='person-container'>
            <h3>Fran Fry</h3>
            <div class='props'>
              <img alt='Fran Fry' src='/app/assets/images/hat.svg'>
              <img alt='Fran Fry' src='/app/assets/images/mustache.svg'>
              <img alt='Fran Fry' src='/app/assets/images/glasses.svg'>
              <img alt='Fran Fry' src='/app/assets/images/bow-tie.svg'>
            </div>
          </div>
          <div class='person-container'>
            <h3>Potato.</h3>
            <div class='props'>
              <img alt='Potato.' src='/app/assets/images/hat.svg'>
              <img alt='Potato.' src='/app/assets/images/mustache.svg'>
              <img alt='Potato.' src='/app/assets/images/glasses.svg'>
              <img alt='Potato.' src='/app/assets/images/bow-tie.svg'>
            </div>
          </div>
        </div>
      </aside>
      <aside class='score'>
        <div class='try-container'>
          <h3>Try 1</h3>
        </div>
        <div class='try-container'>
          <h3>Try 2</h3>
        </div>
        <div class='try-container'>
          <h3>Try 3</h3>
        </div>
      </aside>
      <main class='board'>
        <h1>Mr. Potato Who?</h1>
        <div id='game-instructions'>
          <div id='close'>X</div>
          <h4>You have 3 tries to guess who's the secret potato. Pick an item bellow to help narrow your choices. Feel free to guess by clicking on a tater!</h4>
        </div>
        <div class='potatoBoard'>
          <div class='bodyFeatures'>
            <img alt='potato-eyes' class='eyes' src='/app/assets/images/eyes.svg'>
            <img alt='potato-nose' class='nose' src='/app/assets/images/big-nose.svg'>
          </div>
          <img alt='potato-board' class='board' src='/app/assets/images/potato.png'>
        </div>
      </main>
      <div class='props-container'>
        <div class='prop-container'>
          <div class='prop'>
            <img alt='' class='drag' src='/app/assets/images/hat.svg'>
          </div>
          <div class='prop'>
            <img alt='' class='drag' src='/app/assets/images/mustache.svg'>
          </div>
          <div class='prop'>
            <img alt='' class='drag' src='/app/assets/images/bow-tie.svg'>
          </div>
          <div class='prop'>
            <img alt='' class='drag' src='/app/assets/images/glasses.svg'>
          </div>
          <div class='prop'>
            <img alt='' class='drag' src='/app/assets/images/tattoo.svg'>
          </div>
          <div class='prop'>
            <img alt='' class='drag' src='/app/assets/images/fork.svg'>
          </div>
        </div>
      </div>
    </div>
    <script src='/app/assets/javascripts/vendor.min.js'></script>
    <script src='/app/assets/javascripts/app.js'></script>
  </body>
</html>
