<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Mr. Potato Who?</title>
    <link href='/app/assets/stylesheets/application.css' rel='stylesheet'>
  </head>
  <body>
    <div id='container'>
      <form action='post'>
        <label for='username'>Username:</label>
        <input id='username' name='username' type='text'>
        <label for='password'>Password:</label>
        <input id='password' name='password' type='password'>
        <p id='signup'>
          New User?
          <a href='signup.haml'>Sign Up!</a>
        </p>
        <input id='login' type='submit' value='Login'>
      </form>
    </div>
  </body>
  <script src='/app/assets/javascripts/vendor.min.js'></script>
  <script src='/app/assets/javascripts/app.js'></script>
</html>
