<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Mr. Potato Who?</title>
    <link href='lib/styles/main.min.css' rel='stylesheet'>
  </head>
  <body>
    <div id='container'>
      <form>
        <label for='username'>Username:</label>
        <input id='username' name='username' type='text'>
        <label for='password'>Password:</label>
        <input id='password' name='password' type='password'>
      </form>
      <div id='lower'>
        <p id='signup'>
          New User?
          <a href='sign-up.haml'>Sign Up!</a>
        </p>
        <input id='login' type='submit' value='Login'>
      </div>
    </div>
  </body>
  <script src='lib/js/vendor.min.js'></script>
  <script src='lib/js/app.js'></script>
</html>
