<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Mr. Potato Who?</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Luckiest+Guy' rel='stylesheet'>
    <link href='/app/assets/stylesheets/application.css' rel='stylesheet'>
  </head>
  <body>
    <div class='index-container'>
      <header>
        <nav>
          <h1>Mr. Potato Who?</h1>
        </nav>
      </header>
      <div id='flying-pot'>
        <img src='/app/assets/images/potato.png'>
      </div>
      <div id='form-container'>
        <div class='login-logo'>
          <img alt='logo' src='/app/assets/images/logo.svg'>
        </div>
        <form method='post'>
          <label for='username'>Username:</label>
          <input id='username' name='username' type='text'>
          <label for='password'>Password:</label>
          <input id='password' name='password' type='password'>
          <p id='signup'></p>
          New User?
          <a href='registration.html'>Sign Up!</a>
          <input id='login' type='submit' value='Login'>
        </form>
      </div>
    </div>
  </body>
  <script src='/app/assets/javascripts/vendor.min.js'></script>
  <script src='/app/assets/javascripts/app.js'></script>
</html>
