<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Leadership</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Luckiest+Guy' rel='stylesheet'>
    <link href='/app/assets/stylesheets/application.css' rel='stylesheet'>
  </head>
  <body>
    <div class='container'>
      <header>
        <nav>
          <div class='totalPoints'>
            <div class='total'>Total Points:</div>
            <span>1300</span>
            <div class='points'></div>
          </div>
          <div class='profile'>
            <div class='picture'>
              <img alt='John' src='/app/assets/images/person-batman.svg'>
            </div>
            <div class='name'>Hey, John</div>
          </div>
          <div class='logo'>
            <img alt='logo' src='/app/assets/images/logo.svg'>
          </div>
        </nav>
      </header>
      <main class='leadership-board'>
        <div class='leadership-person' id='0'>
          <div class='person-info'>
            <h1>Jane Doe</h1>
            <img alt='Jane Doe' src='/app/assets/images/person-batman.svg'>
          </div>
          <div class='person-stats'>
            <div class='placement'># 0</div>
            <div class='total'>Total Points:</div>
            <span>1451</span>
          </div>
        </div>
        <div class='leadership-person' id='1'>
          <div class='person-info'>
            <h1>Henry Adams</h1>
            <img alt='Henry Adams' src='/app/assets/images/person-BB.svg'>
          </div>
          <div class='person-stats'>
            <div class='placement'># 1</div>
            <div class='total'>Total Points:</div>
            <span>1451</span>
          </div>
        </div>
        <div class='leadership-person' id='2'>
          <div class='person-info'>
            <h1>Lisa Kyle</h1>
            <img alt='Lisa Kyle' src='/app/assets/images/person-chef.svg'>
          </div>
          <div class='person-stats'>
            <div class='placement'># 2</div>
            <div class='total'>Total Points:</div>
            <span>1451</span>
          </div>
        </div>
        <div class='leadership-person' id='3'>
          <div class='person-info'>
            <h1>Sue James</h1>
            <img alt='Sue James' src='/app/assets/images/person-MIB.svg'>
          </div>
          <div class='person-stats'>
            <div class='placement'># 3</div>
            <div class='total'>Total Points:</div>
            <span>1451</span>
          </div>
        </div>
        <div class='leadership-person' id='4'>
          <div class='person-info'>
            <h1>Ben Smith</h1>
            <img alt='Ben Smith' src='/app/assets/images/person-starwars.svg'>
          </div>
          <div class='person-stats'>
            <div class='placement'># 4</div>
            <div class='total'>Total Points:</div>
            <span>1451</span>
          </div>
        </div>
        <div class='leadership-person' id='5'>
          <div class='person-info'>
            <h1>John Doe</h1>
            <img alt='John Doe' src='/app/assets/images/person-up.svg'>
          </div>
          <div class='person-stats'>
            <div class='placement'># 5</div>
            <div class='total'>Total Points:</div>
            <span>1451</span>
          </div>
        </div>
        <div class='leadership-person' id='6'>
          <div class='person-info'>
            <h1>Ben Smith</h1>
            <img alt='Ben Smith' src='/app/assets/images/person-batman.svg'>
          </div>
          <div class='person-stats'>
            <div class='placement'># 6</div>
            <div class='total'>Total Points:</div>
            <span>1451</span>
          </div>
        </div>
        <div class='leadership-person' id='7'>
          <div class='person-info'>
            <h1>John Doe</h1>
            <img alt='John Doe' src='/app/assets/images/person-BB.svg'>
          </div>
          <div class='person-stats'>
            <div class='placement'># 7</div>
            <div class='total'>Total Points:</div>
            <span>1451</span>
          </div>
        </div>
        <div class='leadership-person' id='8'>
          <div class='person-info'>
            <h1>Ben Smith</h1>
            <img alt='Ben Smith' src='/app/assets/images/person-chef.svg'>
          </div>
          <div class='person-stats'>
            <div class='placement'># 8</div>
            <div class='total'>Total Points:</div>
            <span>1451</span>
          </div>
        </div>
        <div class='leadership-person' id='9'>
          <div class='person-info'>
            <h1>John Doe</h1>
            <img alt='John Doe' src='/app/assets/images/person-MIB.svg'>
          </div>
          <div class='person-stats'>
            <div class='placement'># 9</div>
            <div class='total'>Total Points:</div>
            <span>1451</span>
          </div>
        </div>
      </main>
    </div>
    <script src='/app/assets/javascripts/vendor.min.js'></script>
    <script src='/app/assets/javascripts/app.js'></script>
  </body>
</html>
