!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %meta(content="width=device-width, initial-scale=1" name="viewport")
    %title Mr. Potato Who?
    %link(rel='stylsheet' href='lib/styles/main.min.css')
  %body
    - profilePic = [{img: 'one.svg', name: 'one.svg'}, {img: 'two.svg', name: 'one.svg'},
      {img: 'three.svg', name: 'one.svg'}, {img: 'four.svg', name: 'one.svg'}]
    .container
      %header
        %nav
          %h1 Mr. Potato Who?
      .form-container
        %form{:method=>"post", :action=>"#"}
          -# Username
          %label{:for => "username"} Username:
          %input#username{:name => "username", :type => "text"}
          -# Password
          %label{:for => "password"} Create Password:
          %input#password{:name => "password", :type => "password"}
          -# Confirm Password
          %label{:for => "password"} Re-enter Password:
          %input#password{:name => "password", :type => "password"}
          -# Picture
          %input#signup{:type => "submit", :value => "Login"}
          %select
            - (profilePic).each do |pic|
              %option
                %img(src='../../../images/#{pic[:img]}' alt='#{pic[:name]}')
  %script(src='/app/assets/javascripts/vendor.min.js')
  %script(src='/app/assets/javascripts/app.js')
