<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Mr. Potato Who?</title>
    <link href='lib/styles/main.min.css' rel='stylsheet'>
  </head>
  <body>
    <div class='container'>
      <header>
        <nav></nav>
      </header>
      <div class='form-container'>
        <form>
          <label for='username'>Username:</label>
          <input id='username' name='username' type='text'>
          <label for='password'>Create Password:</label>
          <input id='password' name='password' type='password'>
          <label for='password'>Re-enter Password:</label>
          <input id='password' name='password' type='password'>
        </form>
      </div>
    </div>
  </body>
</html>
