<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Mr. Potato Who?</title>
    <link href='lib/styles/main.min.css' rel='stylsheet'>
  </head>
  <body>
    <div class='container'>
      <header>
        <nav>
          <h1>Mr. Potato Who?</h1>
        </nav>
      </header>
      <div class='form-container'>
        <form action='#' method='post'>
          <label for='username'>Username:</label>
          <input id='username' name='username' type='text'>
          <label for='password'>Create Password:</label>
          <input id='password' name='password' type='password'>
          <label for='password'>Re-enter Password:</label>
          <input id='password' name='password' type='password'>
          <input id='signup' type='submit' value='Login'>
          <select>
            <option>
              <img alt='one.svg' src='../../../images/one.svg'>
            </option>
            <option>
              <img alt='one.svg' src='../../../images/two.svg'>
            </option>
            <option>
              <img alt='one.svg' src='../../../images/three.svg'>
            </option>
            <option>
              <img alt='one.svg' src='../../../images/four.svg'>
            </option>
          </select>
        </form>
      </div>
    </div>
  </body>
  <script src='/app/assets/javascripts/vendor.min.js'></script>
  <script src='/app/assets/javascripts/app.js'></script>
</html>
