!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %meta(content='width=device-width, initial-scale=1' name='viewport')
    %title Mr. Potato Who?
    %link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Luckiest+Guy')
    %link(rel='stylesheet' href='/app/assets/stylesheets/application.css')
  %body
    -# - profilePic = [{img: 'person.svg', name: 'one.svg'}, {img: 'happy.svg', name: 'one.svg'}]
    #reg-container
      %header
        %nav
          %h1 Mr. Potato Who?
      #flying-pot
        %img(src="/app/assets/images/potato.png")
      #reg-form
        .login-logo
          %img(src='/app/assets/images/logo.svg' alt='logo')
        %form{:method=>"post", :action=>"#"}
          -# Username
          %label{:for => "username"} Create Username:
          %input#username{:name => "username", :type => "text"}
          -# Password
          %label{:for => "password"} Create Password:
          %input#password{:name => "password", :type => "password"}
          -# Confirm Password
          %label{:for => "password"} Re-enter Password:
          %input#confirm{:name => "confirm", :type => "password"}
          -# Picture
          %input#signup{:type => "submit", :value => "Login"}
            -# - (profilePic).each do |pic|
            -#   %img(src='/app/assets/images/#{pic[:img]}' alt='#{pic[:name]}')
  %script(src='/app/assets/javascripts/vendor.min.js')
  %script(src='/app/assets/javascripts/app.js')
