!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %meta(content='width=device-width, initial-scale=1' name='viewport')
    %title Guess Who!
    %link(rel='stylesheet' href='lib/styles/main.min.css')
  %body
    #container
      %form
        %label{:for => "first-name"} First Name:
        %input#first-name{:name => "first-name", :type => "text"}
        %label{:for => "last-name"} Last Name:
        %input#last-name{:name => "last-name", :type => "text"}
        %label{:for => "username"} Username:
        %input#username{:name => "username", :type => "text"}
        %label{:for => "password"} Password:
        %input#password{:name => "password", :type => "password"}
        %label{:for => "confirm"}  Confirm Password:
        %input#password{:name => "confirm", :type => "password"}
      #lower
        %input{:type => "submit", :value => "Start Guessin'!"}
  %script(src='/app/assets/javascripts/vendor.min.js')
  %script(src='/app/assets/javascripts/app.js')
